.whatsappFloat {
    position: fixed;
    width: 65px;
    height: 65px;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease;
    animation: pulse 5s infinite;
}

.whatsappFloat:hover {
    background-color: #20BA5A;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}

.whatsappIcon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(1.1);
    }

    10% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}